.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;

}

.login-form {
    padding: 50px;
    background-color: #3a2a65;
    border-radius: 22px;
    max-width: 650px;
    max-height: 700px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

.login-form label {
    display: block;
    margin-bottom: 1vh;
    width: 100%;
}

.login-form label[for="email"],
.login-form label[for="password"] {
    font-size: 2rem;
    color: white;
}

.login-form label[for="keep-signed-in"] {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0vh;
    font-size: 1.2rem;
    color: white;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="checkbox"] {
    display: block;
    margin-bottom: 1vh;
} 

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    border-radius: 10px;
    padding: 7px;
}

.login-form input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    margin-top: 50px;
    width: 400px;
    background-color: #222222;
    color: white;
}




